<div class="container mt-3">
  <h3 class="font-weight-bold mb-3">会員情報編集</h3>
  <%= form_with model: @customer, url: information_update_path do |f| %>

    <div class="row mb-3 mt-4">
      <%= f.label "氏名", class: "col-md-2 col-sm-3"%>
      <%= f.label :last_name, "(姓)", class: "col-lg-1 col-md-3 col-sm-4 mb-3" %>
      <%= f.text_field :last_name, placeholder: "令和", autofocus: true, required: true, class: "col-lg-3 col-md-3 mx-2" %>
      <%= f.label :first_name, "(名)", class: "col-lg-1 col-md-3 col-sm-4 mb-3" %>
      <%= f.text_field :first_name, placeholder: "道子", autofocus: true, required: true, class: "col-lg-3 col-md-3 mx-2" %>
    </div>

    <div class="row mb-3">
      <%= f.label "フリガナ", class: "col-md-2 col-sm-3 mb-3" %>
      <%= f.label :last_name_kana, "(セイ)", class: "col-lg-1 col-md-3 col-sm-4 mb-3" %>
      <%= f.text_field :last_name_kana, placeholder: "レイワ", autofocus: true, required: true, class: "col-lg-3 col-md-3 mx-2" %>
      <%= f.label :first_name_kana, "(メイ)", class: "col-lg-1 col-md-3 col-sm-4 mb-3" %>
      <%= f.text_field :first_name_kana, placeholder: "ミチコ", autofocus: true, required: true, class: "col-lg-3 col-md-3 mx-2" %>
    </div>

    <div class="row mb-3">
      <%= f.label :post_code, "郵便番号", class: "col-md-3 col-sm-3 mb-3" %>
      <%= f.text_field :post_code, placeholder: "0000000", autofocus: true, autocomplete: "post_code", class: "col-lg-3 col-md-3 col-md-3 mx-2" %>
    </div>

    <div class="row mb-3">
      <%= f.label :address, "住所", class: "col-md-3 col-sm-3 mb-3" %>
      <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", autofocus: true, autocomplete: "address", class: "col-lg-7 col-md-5 col-sm-4 mx-2" %>
    </div>

    <div class="row mb-3">
      <%= f.label :phone_number, "電話番号", class: "col-md-3 col-sm-3 mb-3" %>
      <%= f.text_field :phone_number, placeholder: "00000000000", autofocus: true, autocomplete: "phone_number", class: "col-lg-3 col-md-3 mx-2" %>
    </div>

    <div class="row mb-3">
      <%= f.label :email , "メールアドレス", class: "col-md-3 col-sm-3 mb-3" %>
      <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", class: "col-lg-3 col-md-3 mx-2" %>
    </div>

    <div class="pb-5">
      <div class="row mt-4 my-3 offset-lg-2 offset-md-1">
        <div class="col-lg-6 col-md-6">
          <%= f.submit "編集内容を保存", class: "btn btn-outline-success btn-sm py-2" %>
        </div>
        <div class="col-lg-6 col-md-6 mt-4">
          <%= link_to "退会する", confirm_withdraw_path, class: "btn btn-outline-danger btn-sm py-2" %>
        </div>
      </div>
    </div>
    <% end %>

</div>

