<div class="container mt-3">
  <h4 class="font-weight-bold mb-3 offset-2">予約詳細</h4>
  <div class="col-lg-6 col-md-9 col-sm-4 offset-3">
    <table class="table table-border">
      <tr>
        <th>予約ID</th>
        <td><%= @reservation.id %></td>
      </tr>
      <tr>
        <th>予約確定日</th>
        <td><%= @reservation.created_at.to_s(:datetime_jp) %></td>
      </tr>
      <tr>
        <th>宿泊予定日</th>
        <td><%= @reservation.start_reservation_date %></td>
      </tr>
      <tr>
        <th>お帰り予定日</th>
        <td><%= @reservation.end_reservation_date %></td>
      </tr>
      <tr>
        <th>予約者名</th>
        <td><%= @reservation.customer.full_name %> 様</td>
      </tr>
      <tr>
        <th>人数</th>
        <td><%= @reservation.number %>人</td>
      </tr>
      <tr>
        <th>予約メニュー</th>
        <td><%= @reservation.menu.title %></td>
      </tr>
      <tr>
        <%= form_with model: @reservation, url: hotel_reservation_path(@reservation.id), method: :patch, local: true do |f| %>
        <div class="owner-reservations-show--edit-status">
          <th><%= f.label :status %></th>
          <td>
            <%= f.select :status, Reservation.statuses, { selected: @reservation.status } %>
            <%= f.submit '更新', class: "btn btn-outline-primary btn-sm" %>
          </td>
        </div>
        <% end %>
      </tr>
    </table>
  </div>
</div>