<h2>Reservated List</h2>
<section class="reservation">
  <table>
    <thead>
      <tr>
        <th>予約ID</th>
        <th>ご予約確定日</th>
        <th>宿泊予定日</th>
        <th>お帰り予定日</th>
        <th>予約者名</th>
        <th>人数</th>
        <th>予約ステータス</th>
        <th>メニュー名</th>
      </tr>
    </thead>
      <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.id %></td>
          <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
          <td><%= reservation.start_seservation_date %></td>
          <td><%= reservation.end_reservation_date %></td>
          <td><%= reservation.customer.name %> 様</td>
          <td><%= reservation.number %> 名</td>
          <td><%= reservation.reservation_status %></td>
          <td><%= reservation.menu.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<section class="reservated-all"></section>
