<div class="contents">
  <h2>予約の詳細</h2>
  <table>
    <thead>
      <tr>
        <th>予約ID</th>
        <th>予約確定日</th>
        <th>宿泊予定日</th>
        <th>お帰り予定日</th>
        <th>予約者名</th>
        <th>人数</th>
        <th>予約メニュー</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @reservation.id %></td>
        <td><%= @reservation.created_at.to_s(:datetime_jp) %></td>
        <td><%= @reservation.start_reservation_date %></td>
        <td><%= @reservation.end_reservation_date %></td>
        <td><%= @reservation.customer.name %> 様</td>
        <td><%= @reservation.number %></td>
        <td><%= @reservation.menu.title %></td>
      </tr>
    </tbody>
  </table>
  <%= form_with model: @reservation, url: hotel_reservation_path(@reservation), method: :patch, local: true do |f| %>
    <div class="owner-reservations-show--edit-status">
      <%= f.label :status %>
      <%= f.select :status, Reservation.reservation_statuses %>
      <%= f.submit '更新', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>