  <h3 class="offset-md-4 mt-4">管理者ログイン</h3>
  <div class="mt-5 mb-3">
    <%= form_with model: @admin, url: new_admin_session_path do |f| %>
      <%= render "admin/shared/error_messages", resource: resource %>
      <div class="row offset-md-4 mb-3">
        <%= f.label :email, "メールアドレス", class:"mr-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "\uf0e0 mail", class: 'fa' %>

      </div>

      <div class="row offset-md-4 mb-3">
        <%= f.label :password,"パスワード", class:"mr-5" %>
        <%= f.password_field :password, autocomplete: "current-password" ,placeholder: "\uf023 password", class: 'fa' %>
      </div>

      <div class="row offset-7" >
        <%= f.submit "ログイン", class: "btn btn-sm btn-outline-primary" %>
        <%= render "admin/shared/links" %>
      </div>
    <% end %>
  </div>
</div>


