<div class="container mt-5">
  <div class="mb-3 offset-4">
    <%= form_with url:  admin_admin_search_path, method: :get do |f| %>
      <%= f.text_field :search_word, placeholder: "ユーザー名"  %>
      <%= f.submit '検索',class: "btn btn-outline-secondary btn-sm" %>
    <% end %>
  </div>


  <h3 class="font-weight-bold mb-4">会員一覧</h3>

  <div class="row">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tdody>
       <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
          <td><%= customer.email %></td>
          <td class="font-weight-bold">
            <% if customer.is_valid %>
              <p class="text-success">有効</p>
            <% else %>
              <p class="text-danger">退会</p>
            <% end %>
          </td>
        </tr>
       <% end %>
       </tdody>
    </table>
  </div>
</div>