<div class="container mt-3">

  <div class="row d-flex justify-content-between">
    <h3 class="font-weight-bold ml-2">メニュー一覧</h3>
    <%= link_to new_hotel_menu_path do %>
      <%= button_tag type: "submit", class: "btn btn-outline-secondary btn-lg ml-3" do %>
        <i class="fa-solid fa-square-plus fa-xl" style="color: #640125;"></i>
      <% end %>
    <% end %>
  </div>

  <div class="row mt-3">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>メニューID</th>
          <th>メニュー名</th>
          <th>税込価格</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @menu.each do |menu| %>
          <tr>
            <td><%= menu.id %></td>
            <td class="row">
              <%= link_to hotel_menu_path (menu.id) do %>
                <%= image_tag menu.get_image(40, 27), class: "mr-2" %>
                <%= menu.title %>
              <% end %>
            </td>
             <td><%= menu.price %>円</td>
            <td class="font-weight-bold">
              <% if menu.is_available %>
                <p class="text-success">販売中</p>
              <% else %>
                <p class="text-danger">販売停止中</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>