 <div class="container mt-5">

  <div class="row ml-5 pl-5">
    <h5>商品編集</h5>
  </div>
  <div class="my-4 d-flex justify-content-around">
    <%= form_with model: [:hotel, @menu] do |f| %>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <th><%= f.label "商品画像" %></th>
            <td><%= image_tag @menu.get_image(120, 100), class: "mr-2" %><%= f.file_field :image, accept: "image/*" %><br>
              <% if f.object.image.attached? %>
                  保存されているファイル： <%= f.object.image.filename %>
              <% end %>
            </td>
            </tr>
          </tr>
          <tr>
            <th><%= f.label "メニュー名" %></th>
            <td><%= f.text_field :title, autofocus: true, class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label "商品説明" %></th>
            <td><%= f.text_area :detail, autofocus: true, rows: "5", class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label "税込価格" %></th>
            <td><%= f.text_field :price, autofocus: true %> 円</td>
          </tr>
          <tr>
            <th>
              <%= f.label "販売ステータス" %>
            </th>
            <td>
              <%= f.radio_button :is_available, true %>
              <%= f.label :is_available, "販売中", value: true  %>
              <%= f.radio_button :is_available, false %>
              <%= f.label :is_available, "販売停止中", value: false  %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= f.submit "変更を保存", class: "btn btn-outline-success" %>
      </div>
    <% end %>
  </div>

</div>