<div class="contents">
  <%= form_with model: [current_customer, @reservation], url: menu_reservations_path(@menu), local: true do |f| %>
    <h2>予約情報の確認</h2>
    <h3>メニュー名</h3>
    <%= @menu.title %>
    <h3>ご予約日時</h3>
    <%= "#{ @reservation.start_reservation_year }年 #{ @reservation.start_reservation_month }月 #{ @reservation.start_reservation_day }日 #{ @reservation.start_reservation_time }:00" %>
    <h3>お帰り日時</h3>
    <%= "#{ @reservation.end_reservation_year }年 #{ @reservation.end_reservation_month }月 #{ @reservation.end_reservation_day }日 #{ @reservation.end_reservation_time }:00" %>
    <h3>人数</h3>
    <p><%=  @reservation.number %> 名</p>
    <h3>お支払い方法</h3>
    <p><%= @reservation.payment_method %></p>
    <h3>内容</h3>
    <%= @menu.detail %>
    <div class="reservation-form">

    <%= f.hidden_field :menu_id, value: @menu.id %>
    <%= f.hidden_field :payment_method, value: @reservation.payment_method %>
    <%= f.hidden_field :number, value: @reservation.number %>
    <%= f.hidden_field :start_reservation_year, value: @reservation.start_reservation_year %>
    <%= f.hidden_field :start_reservation_month, value: @reservation.start_reservation_month %>
    <%= f.hidden_field :start_reservation_day, value: @reservation.start_reservation_day %>
    <%= f.hidden_field :start_reservation_time, value: @reservation.start_reservation_time %>
    <%= f.hidden_field :end_reservation_year, value: @reservation.end_reservation_year %>
    <%= f.hidden_field :end_reservation_month, value: @reservation.end_reservation_month %>
    <%= f.hidden_field :end_reservation_day, value: @reservation.end_reservation_day %>
    <%= f.hidden_field :end_reservation_time, value: @reservation.end_reservation_time %>
    <%= f.hidden_field :billing_fee, value: @reservation.number * @menu.price %>

    <%= f.submit '修正する', class: "btn btn-outline-dark", name: :back %>
    <%= f.submit '予約を確定する', class: "btn btn-primary" %>
  <% end %>

</div>