<div class="container mt-5">
  <h2 class="font-weight-bold mb-4 ml-5">予約情報の確認</h2>
  <%= form_with model: [current_customer, @reservation], url: menu_reservations_path(@menu), local: true do |f| %>
    <table class="offset-3">
      <tbody>
        <tr>
          <td>メニュー名</td>
          <td><%= @menu.title %></td>
        </tr>
        <tr>
          <td>ご予約日時</td>
          <td><%= "#{ @reservation.start_reservation_date} #{ @reservation.start_reservation_time }:00" %></td>
        </tr>
        <tr>
          <td>お帰り日時</td>
          <td><%= "#{ @reservation.end_reservation_date}#{ @reservation.end_reservation_time }:00" %></td>
        </tr>
        <tr>
          <td>人数</td>
          <td><%= @reservation.number %></td>
        </tr>
        <tr>
          <td>お支払い方法</td>
          <td><%= @reservation.payment_method %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= @menu.detail %></td>
        </tr>
        <tr>
          <td>お支払額</td>
          <td><%= @reservation.billing_fee %>円</td>
        </tr>
      </tbody>
    </table>

    <div class="reservation-form">
      <%= f.hidden_field:menu_id, value: @menu.id %>
      <%= f.hidden_field :payment_method, value: @reservation.payment_method %>
      <%= f.hidden_field :number, value: @reservation.number %>
      <%= f.hidden_field :start_reservation_date, value: @reservation.start_reservation_date %>
      <%= f.hidden_field :start_reservation_time, value: @reservation.start_reservation_time %>
      <%= f.hidden_field :end_reservation_date, value: @reservation.end_reservation_date %>
      <%= f.hidden_field :end_reservation_time, value: @reservation.end_reservation_time %>
      <%= f.hidden_field :billing_fee, value: @reservation.billing_fee %>
      <div class="mt-3">
        <%= f.submit '修正する', class: "btn btn-outline-primary offset-3", name: :back %>
        <%= f.submit '予約を確定する', class: "btn btn-outline-success offset-2" %>
      </div>
    </div>
  <% end %>
</div>