<div class="container mt-5">
  <h3 class="font-weight-bold mb-4 ml-5">予約情報の入力</h3>
  <%= form_with(model: @reservation, url: reservations_confirm_path) do |f| %>
 <div class="table-responsive">
  <table class="col-12 col-sm-7 offset-0 offset-sm-3">
    <tbody>
      <tr>
        <td class="w-25">メニュー名</td>
        <td></td>
        <td><%= @menu.title %></td>
      </tr>
      <tr>
        <td class="w-25">内容</td>
        <td></td>
        <td><%= @menu.detail %></td>
      </tr>
      <tr>
        <td><%= f.label :number, '人数' %></td>
        <td></td>
        <td><%= f.number_field :number, placeholder: '1', min: 1 %></td>
      </tr>
      <tr>
        <td><%= f.label :payment_method, 'お支払い方法' %></td>
        <td></td>
        <td><%= f.select :payment_method, Reservation.payment_methods.keys.map { |k| [t("enum.reservation.payment_method.#{k}"), k] } %></td>
      </tr>
      <tr>
        <td>ご宿泊日時</td>
        <td>年月日</td>
        <td>
          <%= f.date_field :start_reservation_date, min: Date.today, max: Date.today + 1.year, value: Date.today %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.label :start_reservation_time, '時間' %></td>
        <td><%= f.number_field :start_reservation_time, min: 0, max: 23, value: Time.now.hour + 10 %>時</td>
      </tr>
      <tr>
        <td>お帰り日時</td>
        <td>年月日</td>
        <td>
          <%= f.date_field :end_reservation_date, min: Date.today, max: Date.today + 1.year, value: Date.today %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.label :end_reservation_time, '時間' %></td>
        <td><%= f.number_field :end_reservation_time, min: 0, max: 23, value: Time.now.hour + 10 %>時</td>
      </tr>
    </tbody>
  </table>
</div>

    <%= f.hidden_field :menu_id, value: @menu.id %>
    <div class="offset-6 mt-3">
      <%= f.submit '確認する', class: "btn btn-outline-success" %>
    </div>
  <% end %>
 <div class="mt-5 text-center text-sm-right">
  <%= link_to 'メニュー詳細へ', menu_path(@menu), class: "btn btn-outline-primary" %>
  <%= link_to 'メニュー一覧へ', menus_path, class: "btn btn-outline-primary"%>
</div>
