<div class="contents">
  <h2>予約情報の入力</h2>
    <%= form_with model: @reservation, url: customer_reservations_confirm_path(current_customer, @reservation), local: true do |f| %>
    <table>
      <tbody>
        <tr>
          <td><h3>メニュー名</h3></td>
          <td></td>
          <td><%= @menu.title %></td>
        </tr>
        <tr>
          <td><h3>内容</h3></td>
          <td></td>
          <td><%= @menu.content %></td>
        </tr>
        <tr>
          <td><h3><%= f.label :number, '人数' %></h3></td>
          <td></td>
          <td><%= f.number_field :number, placeholder: '1', min: 1 %></td>
        </tr>
        <tr>
          <td><h3><%= f.label :payment_method, 'お支払い方法' %></h3></td>
          <td></td>
        　<!--クレジットカード固定-->

          <% if true %><td><%= f.select :payment_method, Reservation.payment_methods %></td><% end %>
        </tr>
        <tr>
          <td><h3>ご宿泊日時</h3></td>
          <td><h4>年月日</h4></td>
          <td>
            <%= f.number_field :start_reservation_year, min: Time.new.year, max: Time.new.year + 1, value: Time.new.year, placeholder: Time.new.year %>年
            <%= f.number_field :start_reservation_month, min: 1, max: 12, value: Time.new.month, placeholder: Time.new.month %>月
            <%= f.number_field :start_reservation_day, min: 1, max: 31, value: Time.new.day, placeholder: Time.new.day %>日
          </td>
        </tr>
        <tr>
          <td><h3>お帰り日時</h3></td>
          <td><h4>年月日</h4></td>
          <td>
            <%= f.number_field :end_reservation_year, min: Time.new.year, max: Time.new.year + 1, value: Time.new.year, placeholder: Time.new.year %>年
            <%= f.number_field :end_reservation_month, min: 1, max: 12, value: Time.new.month, placeholder: Time.new.month %>月
            <%= f.number_field :endreservation_day, min: 1, max: 31, value: Time.new.day, placeholder: Time.new.day %>日
          </td>
        </tr>
        <tr>
          <td></td>
          <td><h4><%= f.label :start_reservation_time, '日時' %></h4></td>
          <td><%= f.number_field :start_reservation_time, min: 0, max: 23, value: Time.new.hour + 10, placeholder: Time.new.hour + 10 %>時</td>
        </tr>
        <tr>
          <td></td>
          <td><h4><%= f.label :end_reservation_time, '日時' %></h4></td>
          <td><%= f.number_field :reservation_time, min: 0, max: 23, value: Time.new.hour + 10, placeholder: Time.new.hour + 10 %>時</td>
        </tr>
      </tbody>
    </table>
    <%= f.hidden_field :menu_id, value: @menu.id %>
    <%= f.submit '確認する', class: "btn btn-success" %>
  <% end %>
  <%= link_to 'メニュー詳細へ戻る', menu_path(@menu) %>
  <%= link_to 'メニュー一覧へ', menus_path %>
</div>