<div class="container mt-5">
 <h3 class="font-weight-bold m-5">予約詳細</h3>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-sm-6">
        <table class="table table-border">
          <tr>
            <th>予約ID</th>
            <td><%= @reservation.id %></td>
          </tr>
          <tr>
            <th>予約確定日</th>
            <td><%= @reservation.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <th>宿泊予定日</th>
            <td><%= @reservation.start_reservation_date %></td>
          </tr>
          <tr>
            <th>お帰り予定日</th>
            <td><%= @reservation.end_reservation_date %></td>
          </tr>
          <tr>
            <th>予約者名</th>
            <td><%= @reservation.customer.full_name %> 様</td>
          </tr>
          <tr>
            <th>人数</th>
            <td><%= @reservation.number %>人</td>
          </tr>
          <tr>
            <th>予約メニュー</th>
            <td><%= @reservation.menu.title %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
