<div class="m-3">
  <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary" %>
</div>

 <div class="image-container">
  <%= image_tag 'main-visual.jpg', class: 'image' %>
  <div class="text-overlay">
    <p class="overlay-text">ようこそ！</br>calmoへ</p>
  </div>

  <div class="row">
    <div class="mx-auto">
      <h3>新着商品</h3>
      <div class="container mb-5">
        <div class="row">

  <% @new_menus.each do |menu| %>
  <div class="col-sm-12col-md-2 col-lg-6">
    <%= link_to menu_path(menu) do %>
      <p class="img"><%= image_tag menu.image, size: '250x150' %></p>
    <% end %>
    <p><%= menu.title %></p>
              <p>¥<%= menu.price %></p>
            </div>
          <% end %>
        </div>
      </div>
</div>