<h3 class="offset-md-4 mt-4">会員ログイン</h3>

<div class="mt-5 mb-3">
  <%= form_with model: @customer, url: customer_session_path do |f| %>
    <div class="row offset-md-4 mb-1">
    　<%= f.label :email, "メールアドレス", class:"mr-3" %>
    　<%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@mail" %>
  　</div>

  　<div class="row offset-md-4 mb-3">
    　<%= f.label :passwordd,"パスワード", class:"mr-5" %>
    　<%= f.password_field :password, autocomplete: "current-password" %>
  　</div>

    <div class="row offset-7" >
      <%= f.submit "Log in",class: "btn btn-outline-success btn-sm" %>
    </div>
  <% end %>
  <div class="row offset-7" >
   <%= render "public/shared/links" %>
</div>
