<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <%= link_to root_path, data: { "turbolinks" => false }, style: "color: white;", class: "navbar-brand" do %>
      <img class="text_light">calmo<i class="fa-solid fa-leaf" style="color: white"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center">
      <div class="text-light">
        <% if customer_signed_in? %>
          <%= current_customer.full_name %> 様ようこそ！
        <% elsif hotel_signed_in? %>
          <%= current_hotel.name %>
        <% end %>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav4">
      <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>
            <%= link_to mypage_path, class: "nav-link text-light" do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to menus_path, class: "nav-link text-light" do %>
              メニュー一覧
            <% end %>
          </li>
          <li>
            <%= link_to reservations_index_path, class: "nav-link text-light" do %>
              予約履歴
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>
              ログアウト
            <% end %>
          </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to admin_customers_path, class: "nav-link text-light" do %>
                会員一覧
              <% end %>
            </li>
            <li>
              <%= link_to admin_hotels_path, class: "nav-link text-light" do %>
               ホテル一覧
              <% end %>
            </li>
            <li>
            <%= link_to admin_contacts_path, class: "nav-link text-light" do %>
              お問合せ
            <% end %>
            </li>
            <li>
              <%= link_to admin_reports_path, class: "nav-link text-light" do %>
                通報一覧
              <% end %>
            </li>
            <li>
              <%= link_to  destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
                ログアウト
              <% end %>
            </li>
          <% elsif hotel_signed_in? %>
            <li>
              <%= link_to hotel_mypage_path, class: "nav-link text-light" do %>
                 マイページ
              <% end %>
            </li>
            <li>
              <%= link_to hotel_menus_path, class: "nav-link text-light" do %>
               メニュー一覧
              <% end %>
            </li>
            <li>
              <%= link_to hotel_reservations_path, class: "nav-link text-light" do %>
                注文一覧
              <% end %>
            </li>
            <li>
              <%= link_to destroy_hotel_session_path, method: :delete,class: "nav-link text-light" do %>
                ログアウト
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to about_path, class: "nav-link text-light" do %>
                About
              <% end %>
            </li>
            <li>
              <%= link_to menus_path, class: "nav-link text-light" do %>
                メニュー一覧
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_registration_path,class: "nav-link text-light" do %>
                新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path,class: "nav-link text-light" do %>
                ログイン
              <% end %>
            </li>
            <li>
              <%= link_to  new_contact_path, class: "nav-link text-light" do %>
                お問合せ
              <% end %>
            </li>
          <% end %>

          <!--ホテル検索-->
          <%= form_with url: search_path, method: :get do |f| %>
            <%= f.text_field :search_word, placeholder: "ホテル名"  %>
            <%= f.submit '検索',class: "btn btn-outline-secondary btn-sm" %>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>