<!DOCTYPE html>
<html>
  <head>
    <title>Calmo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/dc24351428.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#00a497;" >
        <%= link_to root_path, data:{"turbolinks" => false} do %>
          <img class="navbar-brand">LOGO
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <% if customer_signed_in? %>
          <div class="collapse navbar-collapse justify-content-center" >
            <div class="text-light">
               <%= current_customer.full_name %> 様ようこそ！
            </div>
          </div>
        <% end %>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li>
                <%= link_to mypage_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>マイページ
                <% end %>
              </li>
              <li>
                <%= link_to menus_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>メニュー一覧
                <% end %>
              </li>
              <li>
                <%= link_to  destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>
                  <i style="color: white"></i>ログアウト
                <% end %>
              </li>


　　　　　　 <% elsif admin_signed_in? %>
              <li>
                <%= link_to admin_customers_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>会員一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_hotels_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>ホテル一覧
                <% end %>
              </li>
              <li>
                <%= link_to root_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>お問合せ
                <% end %>
              </li>
              <li>
                <%= link_to  destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
                  <i style="color: white"></i>ログアウト
                <% end %>
              </li>

              <% elsif hotel_signed_in? %>
              <li>
                <%= link_to hotel_mypage_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>マイページ
                <% end %>
              </li>
              <li>
                <%= link_to hotel_menus_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>メニュー一覧
                <% end %>
              </li>
              <li>
                <%= link_to root_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>会員一覧
                <% end %>
              </li>
              <li>
                <%= link_to root_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>注文一覧
                <% end %>
              </li>
               <li>
                <%= link_to root_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>通報機能
                <% end %>
              </li>
              <li>
                <%= link_to destroy_hotel_session_path, method: :delete,class: "nav-link text-light" do %>
                  <i <i "fa-solid fa-cart-shopping" style="color: white"></i>ログアウト
                <% end %>
              </li>


            <% else %>
              <li>
                <%= link_to about_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>About
                <% end %>
              </li>
              <li>
                <%= link_to root_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>メニュー一覧
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_registration_path,class: "nav-link text-light" do %>
                  <i style="color: white"></i>新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_session_path,class: "nav-link text-light" do %>
                  <i style="color: white"></i>ログイン
                <% end %>
              </li>
              <li>
                <%= link_to  new_contact_path, class: "nav-link text-light" do %>
                  <i style="color: white"></i>お問合せ
                <% end %>
              </li>
            <% end %>

           <!--ホテル検索-->
          <%= form_with url: search_path, method: :get do |f| %>
            <%= f.label :name_count, 'ホテル名' %>
            <%= f.text_field :search_word, placeholder: "ホテル名"  %>
            <%= f.submit '検索' %>
          <% end %>


          </ul>
        </div>
      </nav>
    </header>
      <% if flash[:notice] %>
        <p class="alert alert-success mt-3"><%= notice %></p>
      <% elsif flash[:alert] %>
        <p class="alert alert-danger mt-3"><%= alert %></p>
      <% end %>

        <%= yield %>

    <footer class="fixed-bottom">
      <div class="row d-flex justify-content-between" style="background-color:#cee4ae">
        <div class="icon mx-5">
          <%= link_to new_admin_session_path, class: "text-reset btn text-decoration-none" do%>
            <i class="fa-solid fa-user-shield"></i>
          <% end %>
          <%= link_to new_hotel_session_path, class: "text-reset btn text-decoration-none" do%>
            <i class="fa-solid fa-house-user"></i>
          <% end %>
        </div>

        <div class="tell mx-5">
          <i class="fa-brands fa-square-facebook btn"></i>
          <i class="fa-brands fa-square-x-twitter btn"></i>
          <i class="fa-brands fa-square-instagram btn"></i>
        </div>
      </div>
    </footer>
  </body>
</html>