<!DOCTYPE html>
<html>
  <head>
    <title>Calmo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dc24351428.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if flash[:notice] %>
      <p class="alert alert-success mt-3"><%= notice %></p>
    <% elsif flash[:alert] %>
      <p class="alert alert-danger mt-3"><%= alert %></p>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>